<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>test</title>
<link rel="shortcut icon" href="favicon.ico"/>
<link rel="icon" href="favicon.gif" type="image/gif" />
</head>
<body>
<div id="novice">
<form method="post" action="?act=index.login">
	Enter club ID<input id="login_id" type="text" name="login_id" />
	<input type="submit" value="login" />
</form>
</div>
</body>
</html>
